APP_PORT=8999
ENVIRONMENT=dev
SENTRY_DSN=

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PORT=3306
DB_LOG_MODE=4

MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET=phisiobook-dev
MINIO_ACCESS_KEY=phisiobook-minio
MINIO_SECRET_KEY=phisiobook-minio-secret

REDIS_PASSWORD=phisiobook-redis-secret
REDIS_HOST=localhost:6379

MONGODB_USERNAME=phisiobook-mongo
MONGODB_PASSWORD=phisiobook-mongo-secret
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=chatSystem

EXPIRED_TOKEN_JWT=30
ENCRYPT_MESSAGE_PASSWORD=
SECRET_USER_ID=
FALLBACK_LANG=id
HOTP_SECRET=

SMPT_SERVER_PORT=
SMPT_SERVER_HOST=
SUPPORT_EMAIL=
SUPPORT_EMAIL_PASS=
FRONT_END_HOST=
EMAIL_VERIFICATION_OFF=true
